:root {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #e6f4f7;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(150deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(30deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(150deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(60deg, #80C4BB77 25%, transparent 25.5%, transparent 75%, #80C4BB77 75%, #80C4BB77), linear-gradient(60deg, #80C4BB77 25%, transparent 25.5%, transparent 75%, #80C4BB77 75%, #80C4BB77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

header{
  display:inline-flex;
  width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: -1px 1px 2px rgba(114,132,162,0.87);
}

#mainBlock{
  display: inline-flex;
  width: 100%;
  margin: 0 5%;
}
main{
  display: block;
  background-color: white;
  width: 65%;
  height: 500px;
  margin-right: 30px;
}

aside{
  display: block;
  background-color: white;
  width: 30%;
  height: 500px;
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A886C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A886C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.flexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.flexItem {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 5px 0;
}
#toggle-text{
  margin-left: 8px;
  position: relative;
  top: 4px;
}

.multiselect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.toggle input{
  display: none;
}

.toggle-box {
  width: 60px;
  height: 24px;
  border: 2px solid #888;
  border-radius: 6px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.toggle input:checked + .toggle-box {
  background-color: #A886C2;
}

#topBar{
  display: flex;
  justify-content: center;
}
#categoryDisplay{
  display:flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 2px solid #888;
  border-radius: 6px;
  font-size: 60px;
}
.buttonGuess{
  display: none;
}
.buttonBar{
  display: inline-flex;
  background-color: #A886C2;
  width: 120px;
  height: 50px;
  cursor:pointer;
  margin: 0 5px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #888;
}

.buttonBar:active{
  background-color: #7340B5;
  color: white;
}

#buttonsAside{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px;
  border: 2px solid #888;
  border-right: hidden;
  border-left: hidden;
}
#question{
  font-size: 30px;
  width: 70%;
  height: 50%;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
#header{
  justify-content: center;
  align-content: center;
  display: block;
  width: 70%;
}
.buttonSort{
  display: inline-flex;
  background-color: #A886C2;
  width: 80%;
  height: 40px;
  cursor:pointer;
  margin: 0 5px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #888;
}
.buttonSort:active{
  background-color: #7340B5;
  color: white;
}
#points{
  justify-content: center;
  align-content: center;
  display: block;
  margin: 0 5%;
}
#category{
  justify-content: center;
  padding-top:20px;
  font-size: 30px;
  display: block;
  margin: 0 5%;
}
#guessingArea{
  display: flex;
  margin: 0 10%;
  justify-content: center;
  align-content: center;
  padding-right: 20px;
}
#guessThing{
  padding-right: 20px;
  font-size: 17px;
}
#guess{
  width: 50%;
}