:root {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #e6f4f7;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(150deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(30deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(150deg, #80C4BB 12%, transparent 12.5%, transparent 87%, #80C4BB 87.5%, #80C4BB), linear-gradient(60deg, #80C4BB77 25%, transparent 25.5%, transparent 75%, #80C4BB77 75%, #80C4BB77), linear-gradient(60deg, #80C4BB77 25%, transparent 25.5%, transparent 75%, #80C4BB77 75%, #80C4BB77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: row;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: -1px 1px 2px rgba(114,132,162,0.87);
}

content{
  display: inline-flex;
  width: 1200px;
  margin: 0 5%;
}
main{
  display: block;
  background-color: white;
  width: 65%;
  height: 500px;
  margin-right: 5px;
}

aside{
  display: block;
  background-color: white;
  width: 25%;
  height: 500px;
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}